<!DOCTYPE html>
<html>
<title>You Quit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">


<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{{ url_for('home')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
  <a href="{{ url_for('login_route')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Log in</a>
  <a href="{{ url_for('signup_route')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign up</a>
  <a href="{{ url_for('logout_route')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Log out</a>
  
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{{ url_for('calendar_route')}}" class="w3-bar-item w3-button">Calendar</a>
      <a href="{{ url_for('Emotions_route')}}" class="w3-bar-item w3-button">Mood</a>
      <a href="{{ url_for('cigarettes_route')}}" class="w3-bar-item w3-button">Cigarettes</a>
      <a href="{{ url_for('exercise_route')}}" class="w3-bar-item w3-button">Exercise</a>
      <a href="{{ url_for('craving_route')}}" class="w3-bar-item w3-button">Craving</a>
      <a href="{{ url_for('health_route')}}" class="w3-bar-item w3-button">Health</a>
      <a href="{{ url_for('nicotine_route')}}" class="w3-bar-item w3-button">Nicotine</a>
    </div>
  </div>
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="{{ url_for('calendar_route')}}" class="w3-bar-item w3-button">Calendar</a>
    <a href="{{ url_for('Emotions_route')}}" class="w3-bar-item w3-button">Mood</a>
    <a href="{{ url_for('cigarettes_route')}}" class="w3-bar-item w3-button">Cigarettes</a>
    <a href="{{ url_for('exercise_route')}}" class="w3-bar-item w3-button">Exerise</a>
    <a href="{{ url_for('craving_route')}}" class="w3-bar-item w3-button">Craving</a>
    <a href="{{ url_for('health_route')}}" class="w3-bar-item w3-button">Health</a>
    <a href="{{ url_for('nicotine_route')}}" class="w3-bar-item w3-button">Nicotine</a>
  </div>
</div> 


<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>Our Goals</h2>
<p>We aim to help you by:</p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="/static/img/pack.png" alt="Boss" style="width:45% " class="w3-circle w3-hover-opacity">
  <h3>Reduce your cigarette consumption</h3>
</div>

<div class="w3-quarter">
  <img src="/static/img/health.png" alt="Boss" style="width:45% " class="w3-circle w3-hover-opacity">
  <h3>Track your health</h3>
</div>

<div class="w3-quarter">
  <img src="/static/img/feel.png" alt="Boss" style="width:45% " class="w3-circle w3-hover-opacity">
  <h3>How do you feel</h3>
</div>

<div class="w3-quarter">
  <img src="/static/img/weight.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Track your weight</h3>
</div>

</div>
</div>


<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>


<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>Swing by for a cup of coffee, or whatever.</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Palestine</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +0420 84036950</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  YouQuit@gmail.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p> <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
