<!DOCTYPE html>
<html>
<head>
  <title>Smoke free</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
.bg-1 { 
	background-color:white; /* Green */
	color: #ffffff;
	font-size: 16px;
}
.width{
	width: 60%;
	margin: auto;
	padding-bottom: 20px;   
}
.i{ 
	color: #1abc9c; }
</style>
<body>	<div class="container-fluid bg-1">
	<br>
	<br>
	<br>
	<h1 class="i text-center"> HeY smoking quitters </h1>
<p class="i"> The aim of this website is to track your progress in quitting smoking by tracking your cigarette consumption and health. </p>
<h2 class="i"> Nicotine from cigarettes is as addictive as heroin.</h2>
 <p class="i">Nicotine addiction is hard to beat because it changes your brain. The brain develops extra nicotine receptors to accommodate the large doses of nicotine from tobacco. When the brain stops getting the nicotine it’s used to, the result is nicotine withdrawal. You may feel anxious, irritable, and have strong cravings for nicotine.<p>
 	<p class="i"> Remind yourself of the rewards of quitting to help yourself stay on track:</p>
<p class="i">20 minutes: heart rate, blood pressure drop</p>
<p class="i">12 hours: carbon monoxide in blood stream drops to normal</p>
<p class="i">2 weeks–3 months: circulation, lung function improve; heart attack risk begins to drop</p>
<p class="i">1–9 months: cough less, breathe easier</p>
<p class="i">1 year: risk of coronary heart disease cut in half</p>
<p class="i">2–5 years: risk of cancer of mouth, throat, esophagus, bladder cut in half; stroke risk is reduced to that of a nonsmoker</p>
<p class="i">10 years: half as likely to die from lung cancer; risk of kidney or pancreatic cancer decreases</p>
<p class="i">15 years: risk of coronary heart disease same as non-smoker’s risk</p>
<br>
<br> 
<br> 
<br> 
<br>
<br>
</div>

</body>
</html>