<!DOCTYPE html>
<html>
<title>You Quit 2</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1300px">
  <div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{{ url_for('home')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
  <a href="{{ url_for('login_route')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Log in</a>
  <a href="{{ url_for('signup_route')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign up</a>
  <a href="{{ url_for('logout_route')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Log out</a>
  
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{{ url_for('calendar_route')}}" class="w3-bar-item w3-button">Calendar</a>
      <a href="{{ url_for('Emotions_route')}}" class="w3-bar-item w3-button">Mood</a>
      <a href="{{ url_for('cigarettes_route')}}" class="w3-bar-item w3-button">Cigarettes</a>
      <a href="{{ url_for('exercise_route')}}" class="w3-bar-item w3-button">Exercise</a>
      <a href="{{ url_for('craving_route')}}" class="w3-bar-item w3-button">Craving</a>
      <a href="{{ url_for('health_route')}}" class="w3-bar-item w3-button">Health</a>
      <a href="{{ url_for('nicotine_route')}}" class="w3-bar-item w3-button">Nicotine</a>
    </div>
  </div>
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="{{ url_for('calendar_route')}}" class="w3-bar-item w3-button">Calendar</a>
    <a href="{{ url_for('Emotions_route')}}" class="w3-bar-item w3-button">Mood</a>
    <a href="{{ url_for('cigarettes_route')}}" class="w3-bar-item w3-button">Cigarettes</a>
    <a href="{{ url_for('exercise_route')}}" class="w3-bar-item w3-button">Exerise</a>
    <a href="{{ url_for('craving_route')}}" class="w3-bar-item w3-button">Craving</a>
    <a href="{{ url_for('health_route')}}" class="w3-bar-item w3-button">Health</a>
    <a href="{{ url_for('nicotine_route')}}" class="w3-bar-item w3-button">Nicotine</a>
  </div>
</div> 


<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>Track your:</h1>
    </div>
    <div class="w3-padding-64">
      <a href="Emotions1.html" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Mood</a>
      <a href="Cigarettes1.html" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Cigarettes consumption</a>
      <a href="exercise.html" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Exercise</a>
      <a href="health.html" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Health</a>
      <a href="nicotine.html" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Nicotine</a>
      <a href="cravings.html" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Cravings</a>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <img src="/static/img/girl.png" class="w3-margin w3-circle" alt="Person" style="width:50%">
      <div class="w3-left-align w3-padding-large">
        <p>Each day you can track any of the options on the left.</p>
        <p>This is to track your progress in quitting.</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
